
.send-message {
}
.modal {
}
.fade {
}
.close {
}
.alert-close {
}
.send-message-form {
	position: absolute;
	bottom: 5px;
	width: 313px;
}
.input-message {
	width: 76%;
}
.form-control {
	line-height: 25px;
}
.signup-prompt-category-submit {
}
.submit-form {
}
.btn {
}
.btn-orange {
}
.send-message-signin {
}
.login-link {
}

.modal.fade.in {
    top: 10%;
}
.send-message.modal {
    height: 430px;
    width: 300px;
    background-color: #FFFFFF;
    margin-left: -167px;
    display: none;
    top: 10%;
}
.fade.in {
    opacity: 1;
}
.modal.fade {
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
    top: -25%;
}
.send-message {
    z-index: 10000000;
    border: #cccccc solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    color: #777;
    display: none;
}
.modal {
    z-index: 2500;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
/* user agent stylesheet */
div {
    display: block;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .8;
    filter: alpha(opacity=80);
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop {
    z-index: 2499;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
}
/* Inherited from body. */
body {
    background-color: #d4e1e7;
    min-width: 1030px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.send-message.modal .close span {
    line-height: 5px;
    vertical-align: top;
}
.send-message.modal .close {
    line-height: 10px;
}
.send-message.category .close {
    line-height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.send-message .close {
    float: none;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
button, input, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button, input, label, select, textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    line-height: 18px;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #f6f6f6;
    border-color: #dedede;
    color: #333;
}
.btn {
    line-height: 20px;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
a {
    text-decoration: none;
}
.btn-orange {
    background-color: #e86c00;
    border-color: #cf6000;
    color: #fff;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.stop-overflow {
    overflow-y: auto;
    height: 75%;
    width: 100%;
    display: inline-block;
}

@-moz-document url-prefix() {
    .xyzzy {
        color: red;
    }
	.input-message {
		width: 72%;
	}
}
